html,body,div{
    height: 100%;
    width:100%;
    margin: 0;
}

div{

    font-size:150px;
    position: absolute;
    padding-top: 60%;
    padding-left:40%;
}

#c{
    background:forestgreen;
    animation:c  8s    infinite ;
}
#x{
    background: steelblue;
    animation:x  8s    infinite;
}
#q{
    background: orange;
    animation:q  8s    infinite ;
}
#d{
    background: mintcream;
    animation:d  8s    infinite ;
}
#y{
    font-size: 90px;
    display: block;
    animation:y   8s    infinite ;
}
@keyframes y {
    0% {opacity: 0}
    70% {opacity: 0}
    80% {opacity: 100}
    90% {opacity:0}
    100% {opacity: 0}
}
@keyframes c {
    0%{opacity: 0 }
    20%{opacity:100 }
    40%{opacity: 0 }
    100%{opacity: 0 }
}
@keyframes x{
    0%{opacity: 0 }
    20%{opacity:0 }
    40%{opacity: 100 }
    60%{opacity: 0 }
    100%{opacity: 0 }
}
@keyframes q {
    0%{opacity: 0 }
    40%{opacity:0}
    60%{opacity: 100 }
    80%{opacity: 0 }
    100%{opacity: 0 }
}
@keyframes d {
    0%{opacity: 0 }
    60%{opacity:0 }
    80%{opacity: 100 }
    100%{opacity: 0 }
}